<template name="AdminPanel">
	<div class="col-xs-12">

		<!--Admin Panel SideBar-->
		<div class="col-xs-2 text-left">
			<ul class="list-group">
				<a href="/admin/posts"><li class="list-group-item btn btn-default">Manage Posts</li></a>
				<a href="/admin/addpost"><li class="list-group-item btn btn-default">Add New Post</li></a>
				<a href="/admin/users"><li class="list-group-item btn btn-default">Manage Users</li></a>
			</ul>		
		</div>

		<!--Admin Overview Panel-->
		<div class="col-xs-10">
			<h2 class="text-center text-capitalize">Some Overview about the Blog</h2>
			<p class="text-center">Total blog posts: <strong>XXX</strong></p>
			<p class="text-center">Total registered users: <strong>XXX</strong></p>
			<p class="text-center">Total page view: <strong>XXX</strong></p>
		</div>
	</div>
</template>